{% extends "admin/ahf.html" %}
{% block content %}
<style type="text/css">
  table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
</style>
<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/aindex/">Home</a><i class="fa fa-angle-right"></i>Tabels</li>
            </ol>
<div class="agile-grids"> 

<div class="agile-tables">
          <div class="w3l-table-info">
            <h2>PRODUCT</h2>
              <table id="table">
            <thead>
              <tr>
              <th>id</th>
              <th>itemname</th>
              <th>price</th>
              <!-- <th>amount</th> -->
              
              <th>image</th>
              <th colspan="2">Actions</th>

            </tr>
          </thead>
            <tbody>
              {% for x in bdata %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{x.itemname}}</td>
                <td>{{x.price}}</td>
                <!-- <td>{{x.amount}}</td> -->
                
                <td><img style="width:100px;height: 100px" src="{{x.image.url}}"></td>
                  <td><a href="/btableupdate/?tid={{x.id}}"><i class="fa fa-edit"></i></a></td>
                  <td><a href="/btabledelete/?tid={{x.id}}"><i class="fa fa-trash"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
  </div>
        <!-- //tables -->
      </div>
<!-- script-for sticky-nav -->
    <script>
    $(document).ready(function() {
       var navoffeset=$(".header-main").offset().top;
       $(window).scroll(function(){
        var scrollpos=$(window).scrollTop(); 
        if(scrollpos >=navoffeset){
          $(".header-main").addClass("fixed");
        }else{
          $(".header-main").removeClass("fixed");
        }
       });
       
    });
    </script>
    <!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->

{% endblock%}   